.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #00CAE4;
  }
  
  .footer-title {
    margin-bottom: 10px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
  }
  
  .icon {
    padding: 10px;
    background-color: #18EAF8;
    border-radius: 10px;
  }