.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота экрана */
}

.bottom-bar {
  display: flex;
  justify-content: space-around; /* Выравнивание кнопок по горизонтали */
  align-items: center; /* Выравнивание кнопок по вертикали */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Цвет фона для видимости кнопок */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень для отделения от контента */
}

.bottom-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.bottom-bar img {
  width: 30px; /* Размер иконок, подгоните под ваш дизайн */
  height: 30px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.content {
  animation: slideIn 0.3s forwards;
}

.content.hide {
  animation: slideOut 0.3s forwards;
}
/* Дополнительные стилизации могут быть добавлены в зависимости от дизайна вашего проекта */
