@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Typingrad';
    src: url("/fonts/Typingrad.otf") format('woff2'),
    url('/fonts/Typingrad.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lego';
    src: url("/fonts/TheLegoMovie.ttf") format('woff2'),
    url('/fonts/TheLegoMovie.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-checkbox:checked + label .checkbox-border {
    background-color: #7D5DFF; /* Tailwind CSS color class for purple-700 */
    border-color: #7D5DFF; /* Tailwind CSS color class for purple-700 */
}

.custom-checkbox:checked + label .checkbox-border::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
}
